<?xml version="1.0"?>
<launch>
  <!-- launch floam_laser_processing node -->
  <node pkg="floam" type="floam_node" name="floam_node" output="screen">
    <remap from="cloud" to="/cloud_multi" />
    <remap from="odom" to="/floam_odom" />
    <rosparam file="$(find floam)/param/2d_lidar.yaml" />
  </node>
</launch>
