<?xml version="1.0"?>
<launch>
    <!-- sick multiscan100 launch file here-->

    
    <!-- launch floam_laser_processing node -->
    <node pkg="floam" type="floam_node" name="floam_node" output="screen">
      <!-- <remap from="cloud" to="/cloud_all_fields_fullframe" /> -->
      <remap from="cloud" to="/velodyne_points" />
      <remap from="odom" to="/floam_odom" />
      <rosparam file="$(find floam)/param/multiscan.yaml" />
    </node>
</launch>
